<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tutorial_hangn_faq_listing_data_source" xsi:type="string">Tutorial\HangN\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tutorial\HangN\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tutorial_hangn_faq</argument>
            <argument name="resourceModel" xsi:type="string">Tutorial\HangN\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>

    <type name="Tutorial\HangN\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Tutorial\HangN\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myLoggerName</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Tutorial\HangN\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>